html, body, .capa{
	height: 100%;
	overflow: auto;
}

body{
	background: url('imagens/capa.png'),
	url('imagens/ruido.png'), 
	linear-gradient(50deg, #ff4169, #7c26f8);	
	background-attachment: fixed;
	font-family: Helvetica Regular, arial, sans-serif;
	overflow-x: hidden;
}


/* barra de navegação */

.img-logo{
	height: 40px;
	width: 132px;
	display: block;
	background: url('imagens/spotify.svg') no-repeat;
	background-size: contain;
	color: transparent;
}

.navbar-transparente{
	padding: 15px 0px;
	background: rgba(0,0,0,0.6);
	border: none;
}

.navbar-brand{
	padding: 5px 15px;
}

.divisor{
	width: 1px;
	height: 16px;
	background: white;
	margin: 16px 10px;
}

.navbar-nav>li>a, footer .nav a{
	color: white;
}
.navbar-nav>li>a:hover, footer .nav a:hover{
	color: #9bf0e1;
	background: none;
}
footer .nav a:active{
	background: none;
}
footer .nav a:visited{
	background: none;
}


/* Capa */ 

.capa{
	display: table;
	width: 100%;
}

.texto-capa{
	text-align: center;
	color: white;
	display: table-cell;
	vertical-align: middle;
}

.btn-custom{
	color: white;
	border-radius: 500px;
	-webkit-border-radius: 500px;
	-moz-border-radius: 500px;
	text-transform: uppercase;
	transition: background 0.4s, color 0.4s;
	padding: 10px 35px;
	margin: 0px 15px;
}
.btn-roxo{
	background: #7c25f8
}
.btn-roxo:hover{
	background-color: #6207e3;
	color: white;
}
.btn-branco{
	border:2px solid white;
}
.btn-branco:hover{
	background-color: white;
	color: black;
}

/*serviços*/

#servicos{
	background: white;
	padding-top: 20px;
	padding-bottom: 20px;
}

.albuns{
	padding:10px 0px 10px 0px;
}

/*recursos*/

#recursos{
	padding-top: 20px;
	padding-bottom: 20px;
	color: white;
}

.rotacionar{
	transform: rotate(30deg);
	-ms-transform: rotate(30deg);
	-webkit-transform: rotate(30deg);
	padding-left: 80px;
}

/* rodape */

footer{
	background: #000;
	padding: 50px 0px 20px 0px;
	position: relative;	
}
footer .img-logo{
	margin-bottom: 40px;
}

.itemrs{
	float: right;
}

/*tipografia*/

h1{
	font-weight: 900;
	letter-spacing: -0.05em;
	margin-bottom: 50px;
}

h2{
	font-size: 55px;
	font-weight: 900;
	letter-spacing: -0.04em;
}

h3{
	font-size: 40px;
	font-weight: 900;
	letter-spacing: -0.04em;
}
p{
	font-size: 16px;
	font-weight: 500;

}

#servicos h2, #serviços h3{
	color: #7c25f8;
}

#recursos h3{
	color: #9bf0e1;
}

#rodape h4{
	color: #919496;
	font-size: 12px;
	text-transform: uppercase;
}

/* Media queries */

@media only screen and (max-width : 640px){
	h1{
		font-size: 50px;
	}
	.btn-custom{
		padding: 10px 35px;
		margin: 10px 15px;
	}
	#rodape{
		text-align: center;
	}
	#rodape .img-logo{
		margin: 0 auto;
		margin-bottom: 20px;						
	}
	#rodape .itemrs{
		float: none;
	}			
}

@media only screen and (min-width : 641px) and (max-width : 769px){
	h1{
		font-size: 70px;
	}
}

@media only screen and (min-width : 770px) and (max-width : 1007px){
	h1{
		font-size: 90px;
	}	
}

@media only screen and (min-width : 1008px) and (max-width : 1379px){
	h1{
		font-size: 100px;
	}	
}

@media only screen and (min-width : 1380px){
	h1{
		font-size: 120px;
	}
}


